DATABASE_URL=mongodb://localhost:27017/BitchDot?directConnection=true
ADMIN_USER=123123
ADMIN_PASS=123123
SESSION_SECRET=<(>N(1h0,LNzGJ%tZTyyYpl}Q&Yl%(C35Z3XL$/o_PFb<b<Vjp{q,gP&YiqaGJxdngs[!!+DUzC;{n-zVX()^G